<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Profile</h4>
            <hr>
            <div id="profile"><img src={{profiles.avatar_url}} alt=" user profile pic"> </div> <br>
            <div id="bio">{{profiles.bio}}</div>
            <p>Location:{{profiles.location}}</p>
            <p>{{profiles.followers}} Followers </p>
            <p>{{profiles.following}} Following</p> 
        </div>
        <div class="col-md-8">
            <h4>GitHub User's Repositories</h4>
            <hr>
            <div>
                <form>
                 <input type="text" id="search" name="username" [(ngModel)]="username" placeholder="Search Username">
            --> 
            <!-- <input type="text" name="username" id="" [(ngModel)]="username">
                    <button (click)="getProfiles()" id="btn">search</button>
                </form>
            </div> -->
           

            <!-- <div *ngFor="let repo of repos; index as i">
                <div>
                    <h4>{{ repo.name }} </h4>
                    <h4> {{ repo.language }}</h4>
                    <p>{{ repo.description }}</p>
                    <div>

                        <a href="{{ repo.html_url }}" target="_blank">
                            <button>View<i class="fab fa-github"></i></button>
                        </a>
                        <small style="margin-top: 6%"><span class="text-muted">Date modified:</span> {{
                            repo.updated_at|date }}</small>
                    </div>
                </div>
            </div>
        </div> -->
       <!-- </div>

    </div> -->