<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h4>Profile</h4>
            <hr>
            <div id="profile" ><img src="{{user.avatar_url}}" alt=" user profile pic"> </div> <br>
            <div id="bio">{{user.bio}}</div>
            Location:<div>{{user.location}}</div>
            Followers:<div><p>{{user.followers}} &nbsp; Following:{{user.following}}</p></div>
           
        </div>
        <div class="col-md-7">
            <h4>GitHub User</h4>
            <hr>
            
            <form action="">
                <input type="text" id="search" class="form-control" placeholder="Search Username">
                <button type="submit" (click)="search(username.value)" id="btn" class="btn btn-outline-secondary" >search</button>
            </form>
            
        </div>
    </div>
</div>